.service{
  border: 1px solid lightgray;
  border-radius:10px;
  padding-bottom:10px; 
  text-align: center; 
}
.service img{
  border-top-left-radius:10px;
  border-top-right-radius: 10px;
  width: 100%;
}